FHWN/SE2/2026_02_25_Data_exchange_formats/patients.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="patients">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="patient" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="SSN" type="xs:string"/>
                            <xs:element name="address" type="xs:string"/>
                            <xs:element name="visits">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="visit" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="date" type="xs:date"/>
                                                    <xs:element name="reason" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>